matplotlib==3.1.0
pandas==0.23.4
tables==3.5.1
requests==2.21.0
retrying==1.3.3
scipy==1.3.0
numpy==1.16.4
scikit-learn==0.21.3
joblib==0.13.2
dask==2.2.0
flock==0.1

jupyter==1.0.0
cufflinks==0.16

git+https://github.com/statsmodels/statsmodels@5bb70aa#egg=statsmodels

tulipindicators
python-mne_features @ git+https://github.com/mne-tools/mne-features.git@629dad6345a61769c97a526c3878bd81c4d50ab6#egg=python-mne_features
tsfresh==0.12.0
TA-Lib==0.4.17
